.jumbotron {
  background-color: #FFFA19;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0px 10px;
  background-color: #FFFA19;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 150px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-adress-icon {
  padding-right: 10px;
}
#img-playa {
  width: 100%;
  height: 50%;
}
